.mainBody {
    min-height: calc(100vh - 105px);
}

.mainBody .authPage {
    background-color: #f9f9f9;
    position: relative;
    padding: 30px;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    align-items: center;
    min-height: 100%;
}

@media (max-width: 767px) {
    .mainBody .authPage {
        height: 100%;
        padding: 30px 15px;
    }
}

.mainBody .authPage:before {
    content: "";
    background: rgba(140, 140, 146, 0.2);
    left: 0;
    position: absolute;
    top: 0;
    height: 100%;
    width: 35%;
}

.mainBody .authPage .authInner {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    width: 100%;
}

.mainBody .authPage .authInner .authDesc {
    background-color: #181824;
    padding: 30px;
    height: 100%;
    text-align: center;
    position: relative;
    text-align: center;
}

.mainBody .authPage .authInner .authDesc .authInnerDiv {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    width: 100%;
    padding: 0 30px;
}

@media (max-width: 767px) {
    .mainBody .authPage .authInner .authDesc .authInnerDiv {
        position: relative;
        transform: none;
        top: auto;
        left: auto;
    }
}

.mainBody .authPage .authInner .authDesc .authInnerDiv .authLogo {
    margin: 0 0 5px 0;
}

.mainBody .authPage .authInner .authDesc .authInnerDiv h2 {
    color: #fff;
    font-size: 25px;
    font-family: 'open_sanssemibold';
    text-transform: uppercase;
    margin: 0 0 18px 0;
}

.mainBody .authPage .authInner .authDesc .authInnerDiv p {
    color: #fff;
    font-size: 12px;
    font-family: 'open_sansregular';
    text-transform: capitalize;
}

.mainBody .authPage .authInner .authForm {
    background-color: #fff;
    height: 100%;
    padding: 50px 100px;
}

@media (max-width: 767px) {
    .mainBody .authPage .authInner .authForm {
        padding: 25px 30px;
    }
}

.mainBody .authPage .authInner .authForm h1 {
    text-align: center;
    margin: 0 0 50px 0;
}

@media (max-width: 767px) {
    .mainBody .authPage .authInner .authForm h1 {
        margin: 0 0 25px 0;
        font-size: 26px;
    }
}

.mainBody .authPage .authInner .authForm .form-group {
    position: relative;
}

.mainBody .authPage .authInner .authForm .form-group label {
    margin: 0 0 10px 0;
    font-size: 12px;
    text-transform: capitalize;
    color: #000;
    font-family: 'open_sansregular';
    letter-spacing: 1px;
}

.mainBody .authPage .authInner .authForm .form-group input {
    border-radius: 4px;
    background-color: transparent;
}

.mainBody .authPage .authInner .authForm .form-group .btn {
    width: 100%;
}

.mainBody .authPage .authInner .authForm .commonHead {
    text-align: center;
}

.mainBody .authPage .authInner .authForm .commonHead p {
    color: #000;
    font-size: 14px;
    font-family: 'open_sansregular';
    text-transform: capitalize;
}

.mainBody .authPage .authInner .authForm .commonHead p a {
    color: #ef7603;
}

@media (max-width: 767px) {
    .mainBody .authPage .authInner .authForm .commonHead p a {
        display: block;
    }
}

@media (max-width: 731px) {
    .responsiveForm {
        display: flex;
        justify-content: center;
    }
}