.fa:hover {
    color: #ed7602;
}
.d-flex{
    justify-content: space-between;
}
.mat-form-field {
    display: block!important;
}

.show-error{
    position: relative;
    top: -20px;
    left: 15px;
    font-size: 12px;
    animation: cdk-text-field-autofill-end 0s 1ms;
}
.add-user .mat-mdc-form-field 
{
    width: 100%;
}
.add-user-table .table
{
    border-top: #e3e3e3;
}
.add-user-table.tablePanel .table thead tr th
{
    background-color: #f9f9f9;
}